<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create</title>
</head>
<body>
<div style="text-align:right; padding:5px; margin:5px 0px; background:#ccc;">
  <a th:href="@{/user}"> User info </a>
  |
  <a th:href="@{/logout}"> Logout </a>
</div>
<h2>Create user</h2>
<div>
  <form th:action="@{/create}" method="post" th:object="${newUser}">
    <p>
      <label for="name">Name <em>*</em></label>
      <input type="text" th:field="*{name}" id="name" placeholder="Name">
    </p>
    <p>
      <label for="passwd">Password <em>*</em></label>
      <input type="password" th:field="*{password}" id="passwd" placeholder="Password">
    </p>
    <p>
      <select id="roles" name="roles" multiple size="2" required>
        <option th:each="role : ${allRoles}"
                th:value="${role}" th:text="${role.roleName}"></option>
      </select>
    </p>
    <input type="submit" value="Create">
  </form>
</div>
</body>
</html>