<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<html lang="en">-->
<head>
  <meta charset="UTF-8">
  <title>Users</title>
</head>
<body>
<table border="1">
  <tr>
    <td><b>ID</b></td>
    <td><b>Name</b></td>
    <td><b>Surname</b></td>
    <td><b>Email</b></td>
  </tr>
  <th:block th:each="user : ${users}">
    <tr>
      <td th:text="${user.getId()}">
      <td th:text="${user.getName()}"></td>
      <!--      <td th:text="${user.get()}"></td>-->
      <td th:text="${user.getRoles()}"></td>
      <td>
        <form  method="get" action="/usered">
          <input type="hidden" name="id" th:value="${user.getId()}">
          <input type="submit" value="Edit">
        </form>
      </td>
      <td>
        <form  method="post" action="/users">
          <input type="hidden" name="id" th:value="${user.getId()}">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  </th:block>
</table>
<b>Add new User</b>
<div>
  <form th:method ="post" th:action = "@{/useradd}" >

    <input type="text" name="firstName"  placeholder="First Name"/>
    <input type="text" name="lastName" placeholder="First Name" />
    <input type="text" name="email" placeholder="Email " />

    <input type="submit" value = "Add"/>
</div>
</form>

</body>
</html>